div .container {
    color: blue !important;
    background-color: blueviolet !important;
    background-size: auto !important;
}
div .row {
    color: aqua !important;
    background-color: brown !important;
    background-size: auto !important;
}
.col {
    color: aquamarine !important;
    background-color: beige !important;
    background-size: auto !important;
}
body {
    color: rgb(86, 43, 226) !important;
    background-color: aquamarine !important;
}
h1 {
    color: rgb(83, 42, 165) !important;
    background-color: rgb(234, 255, 196) !important;
    text-align: center;
}